@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin", sans-serif;
    background: #c0eafc;
    background: -webkit-linear-gradient(
      to bottom,
      #cfdef3,
      #c0eafc
    ); /* Chrome 10-25. Safari 5.1-6 */
    background: linear-gradient(
        to bottom, 
        #cfdef3,
        #c0eafc
    );
}
.pokemon {
    background: #f1f1f1;
    min-width: 280px;
    text-align: center;
    padding: 25px;
    border-radius: 6px;
    border: 10px #f8d41f solid;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #d7f2fd;
}
.pokemon.name {
    font-size: 4em;
    text-transform: capitalize;
    font-weight: bold;
    color: #333
}
.pokemon .details {
    display: flext;
    justify-content: space-between;
    margin: 1em 0 0;
}
